*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif; /* Default font for body */

}


div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

img{
    border: 5px solid white;
    margin: 20px;
    width: 100%;
}

h1{
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    margin: 20px;

}

p{
    font-size: 25px;
    margin: 20px;
    font-weight: bold;
}